/*--------------------------------------------------------------
12.0 Navigation
--------------------------------------------------------------*/

.navigation-top {
  font-size: 16px;
  font-size: 1rem;
  position: relative;
  .wrap {
    max-width: 1000px;
    padding: 0;
    text-align: center;
  }
  a {
    color: $black2;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }
  .current-menu-item > a, .current_page_item > a {
    color: $gray1;
  }
}

.main-navigation {
  display: inline-block;
  vertical-align: middle;
  ul {
    background: $white1;
    list-style: none;
    margin: 0;
    padding: 0 1.5em;
    text-align: left;
  }
  .menu-primary-menu-container {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
  }
  * {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
  }
}

/* Hide the menu on small screens when JavaScript is available.
 * It only works with JavaScript.
 */

.js .main-navigation ul {
  display: none;
}

.main-navigation {
  .menu-item-has-children > a > .icon, .page_item_has_children > a > .icon, ul a > .icon {
    display: none;
  }
  > div > ul {
    border-top: 1px solid $silver2;
    padding: 0.75em 1.695em;
  }
}

.js .main-navigation.toggled-on > div > ul {
  display: block;
}

.main-navigation {
  ul ul {
    padding: 0 0 0 1.5em;
    &.toggled-on {
      display: block;
    }
    a {
      letter-spacing: 0;
      padding: 0.4em 0;
      position: relative;
      text-transform: none;
    }
  }
  li {
    border-bottom: 1px solid $silver2;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    li, &:last-child {
      border: 0;
    }
  }
  a {
    display: block;
    padding: 0.5em 0;
    text-decoration: none;
    &:hover {
      color: $white2;
    }
  }
}

/* Menu toggle */

.menu-toggle {
  position: absolute;
  top:0;
  right: 0;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: $white2;
  display: none;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.5;
  margin: 0;
  padding: 1em;
  text-shadow: none;
}

/* Display the menu toggle when JavaScript is available. */

.js .menu-toggle,
.main-navigation.toggled-on ul.nav-menu {
  display: block;
}

.menu-toggle {
  &:hover {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  &:focus {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .icon {
    display: block;
  }
}

.toggled-on .menu-toggle .icon-bars,
.menu-toggle .icon-close {
  display: none;
}

.toggled-on .menu-toggle .icon-close {
  display: block;
}

/* Dropdown Toggle */

.dropdown-toggle {
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: $black2;
  display: block;
  font-size: 16px;
  right: -0.5em;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0.5em;
  position: absolute;
  text-shadow: none;
  top: 0;
  &:hover {
    background: transparent;
  }
  &:focus {
    background: transparent;
    outline: thin dotted;
  }
  &.toggled-on .icon {
    -ms-transform: rotate(-180deg);
    /* IE 9 */
    -webkit-transform: rotate(-180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-180deg);
  }
}

/* Scroll down arrow */

.site-header .menu-scroll-down {
  display: none;
}